.list {
        align-items: center;
}
.headcontainer {
    background-color: lightgrey;
}
.rowHead {
    text-align: center;
}
.bodycontainer {
    text-align: center;
}
.list-group-item-success {
    width: 20%;
    text-align: center;
}
.formfield{
    margin-left: 1rem !important;
}
.labelfield {
    /* text-align: right; */
    font-weight: bold
}
.inputfield {
    border: none !important;
    background-color: white !important;
}
