.list {
    margin-bottom: 5% !important;
    align-items: center;
}
.headcontainer {
    background-color: lightskyblue;
}
.rowHead {
    text-align: center;
}
.bodycontainer {
    text-align: center;
}