.ml-auto {
    flex-direction: row !important;
}
.nav-item {
    padding: 0 10px;
}
.navcontainer {
    background-color: lightgrey;
}
.fileInput {
    padding-bottom: 10px;
}
.submitButton {
    padding: 10px 15px 10px 15px;
}
.mainContainer {
    padding-top: 40px;
}
.text {
    float: left;
}
.iconfield {
    float: right;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.header {
    overflow: hidden;
    background-color: #e9ecef;
    padding: 10px 10px;
}
.caretDown {
    width: 1.625em;
    height: 1.5rem;
}
.header1 {
    /* margin-top: 15%; */
    overflow: hidden;
    background-color: dimgrey;
    color: white;
    padding: 10px 10px;
}

  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
}
.reportButton {
    margin: 10px;
    float: right;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.excel {
    margin: 10px;
    float: right;
}