.tablecontainer {
  height: 700px;
  overflow-y: scroll;
}
.addButton {
  float: right;
  margin: 30px;
  width: 5%;
}
.table > thead > tr > th,
.table > thead > tr > td { 
    background-color: #51596a;
}
.table thead th {
    position: sticky;
    top: 0;
}
.modal-content {
    width: 120% !important;
}
.edit {
  cursor: pointer;
  margin-right: 15px;
}
@media print {
  #invisible  {
    display: none;
  }
  #xmlTable {
    display: block;
  }
}
.excelStyle {
  margin-left: 95%;
}
.print {
  margin: 10px;
}