.pathInput {
    border-radius: 5px;
    width: 18%;
}
.replineInput {
    width: 20%;
}


.breadcrumb {
    background-color: white !important;
}
.progressbar {
    display: inline-block;
    width: 14.66%;
    text-align: center;
    border: 1px solid black;
    margin: 18px;
}
@media screen and (min-width:340px) and (max-width: 1024px){
    .replineInput {
        width: 80%;
    }
}
.completed {
    background-color: green;
    color: white;
}
.progressLine {
    background-color: cornflowerblue;
    color: white;
}
.disable {
    background-color: lightgrey;
}
.bar {
    margin: 10px;
}