.pathInput {
    border-radius: 5px;
    width: 18%;
}
.replineInput {
    width: 20% !important;
}
.loadButton {
    margin-right: 2%;
    margin-left: 2%;
    width: 5%;
}
.cancelButton {
    width: 5%;
}
.breadcrumb {
    background-color: white !important;
}
.progressbar {
    display: inline-block;
    width: 14.66%;
    text-align: center;
    border: 1px solid black;
    margin: 18px;
    font-family: cursive;
}
.completed {
    background-color: green;
}
.progressLine {
    background-color: cornflowerblue;
}
.disable {
    background-color: lightgrey;
}
.bar {
    margin: 10px;
}