.fileInput {
    padding-bottom: 10px;
}
.submitButton {
    padding: 10px 15px 10px 15px;
}
.mainContainer {
    padding-top: 40px;
}
.text {
    float: left;
}
.iconfield {
    float: right;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
.caretDown {
    width: 1.625em;
    height: 1.5rem;
}
.header1 {
    margin-top: 15%;
    overflow: hidden;
    background-color: dimgrey;
    color: white;
    padding: 10px 10px;
}
  
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
}